{% extends 'base.html' %}

{% block title %}Stock Data Analysis{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">Stock Data Analysis</h1>

    
    <h1>Stock Data</h1>
    
    <form method="POST">
        <label for="stock">Enter Stock Symbol:</label>
        <input type="text" id="stock" name="stock" required>
        <button type="submit">Fetch Data</button>
    </form>
    

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    
    {% if message %}
        <p style="color: white;">{{ message }}</p>
    {% endif %}
    
    {% if stock_data %}
        <h2>Stock Data for {{ stock_symbol }}</h2>
        <table border="1">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in stock_data %}
                    <tr>
                        {% for column in columns %}
                            <td>{{ row[column] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    </div>
    
 

{% endblock %}
